<div class="jumbotron">
  <h1>Welcome to Khoi's Restaurant </h1>
  <p class="lead">
  	<%= link_to "Menu",menu_path, class: 'btn btn-secondary' %>
	<%= link_to "Contact Us",contact_us_path, class: 'btn btn-secondary' %>
	<br>
	<img src="http://sonnha.dep.asia/wp-content/uploads/son-nha-hang-showroom-10.jpg" alt="HTML5 Icon" style="width:1000px;height:500px;"></br>
  </p>
</div>
