@import "bootstrap";
.jumbotron {
	background-color: lightblue;
}
.card {
	background-color: #ff9966;
}
.image_food{
	width: 320px;
    height: 240px;
}
.image_food1{
	width: 640px;
    height: 400px;
}